.background-pic {
  background: url("/images/large-office-back.jpg") no-repeat center;
}

.small-left {
  background: url("/images/office-clutter.jpeg") no-repeat center;
}

.small-center {
  background: url("/images/dual-monitor.jpeg") no-repeat center;
}

.small-right {
  background: url("/images/office-laptops.jpeg") no-repeat center;
}
